mapclassify
matplotlib
seaborn
cartopy
descartes
folium
pyproj
pysal>=2
rasterio
rasterstats>=0.13
scikit-learn
scipy
shapely>=1.6
geojson
geoviews
geoplot
geopy
bokeh
ipykernel
ipython
ipywidgets
jupyter
jupyter_client
matplotlib
numpy
owslib
pandas
pillow>=5.2
requests
statsmodels
toolz
urllib3
xarray

